---
import { getReposWithLanguages, getLanguageColor } from "../lib/github";

const username = "Andresfernandezp94";

const reposWithLanguages = await getReposWithLanguages(username);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
        reposWithLanguages.map((repo) => (
            <div class=" border border-neutral-800 rounded-xl p-6 hover:border-purple-500 transition">
                <h2 class="text-xl font-bold mb-2">{repo.name}</h2>

                <p class="mb-4">{repo.description}</p>

                <div class="flex flex-wrap gap-2">
                    {repo.languages.map((lang) => (
                        <span class="text-xs  px-2 py-1 rounded">
                            {lang.language}
                        </span>
                    ))}
                </div>

                <a
                    href={repo.html_url}
                    target="_blank"
                    class="block mt-4  hover:underline"
                >
                    Ver repositorio →
                </a>
            </div>
        ))
    }
</div>
